EnsambleGOE.dat
EnsambleGUE.dat
EvalEnsGSE.dat
histograma.cpp
JPhysAMathGen.36.R1.pdf
MehtaBook.pdf
P_Chau_Huu-Tai_2002_J._Phys._A__Math._Gen._35_L199.pdf
PhysRep.299.189.pdf
bokeh.py
Documentos
EigenValsH.dat
EvlasGSEMatrizGrande.dat
Notas_Prácticas
Notas_Prácticas.zip
eigenvalores.txt
exponential_hist.dat
exponential_kde.dat
hist.dat
normal_hist.dat
normal_kde.dat
output
Reporte

